@model IEnumerable<ICVNL_SistemaLogistica.Web.Models.Listado_SolicitudesPlacasDetailsModel>

@if (Model != null && Model.Count() > 0)
{
    int index = 0;
    foreach (var item in Model)
    {
        <tr>
            <td>
                @item.DelegacionesBancos.NombreDelegacionBanco
                <input type="text" class="form-control" name="Detalle_SolicitudesPlacasDetailsVM[@index.ToString()].IdSolicitudDetalle" value="@item.IdSolicitudDetalle" style="display:none" />
                <input type="text" class="form-control" name="Detalle_SolicitudesPlacasDetailsVM[@index.ToString()].Consecutivo" value="@item.Consecutivo" style="display:none" />
            </td>
            <td>@item.TiposPlacas.TipoPlaca</td> 
            <td>@item.RangoPlacaInicial</td>
            <td>@item.RangoPlacaFinal</td>
            <td>@item.CantidadPlacas</td>
            <td align="center" style="width:150px">
                @if (HttpContext.Current.Session["UserSC"] != null &&
                 ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_SolicitudesPlacasProveedor.Actualizar)
                {
                    <button class="btn btn-xs blue btn-icon-circle" type="button" name="control" value="Editar Partida" id="btnEditarDetalle" onclick="EditarDetalle('@item.Consecutivo.ToString()');">
                        <i class="fa fa-pencil mr-0 ml-0"></i>
                    </button>

                }
                @if (HttpContext.Current.Session["UserSC"] != null &&
                ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_SolicitudesPlacasProveedor.Eliminar)
                {
                    <button class="btn btn-xs red btn-icon-circle" type="button" name="control" value="Eliminar Partida" id="btnEliminarDetalle" onclick="EliminarConsecutivoDetalle('@item.Consecutivo.ToString()');">
                        <i class="fa fa-times mr-0 ml-0"></i>
                    </button>
                }
            </td>
        </tr>
        index++;
    }
}