@model ICVNL_SistemaLogistica.Web.ViewModels.Listado_TransferenciaPlacasVM

@{
    ViewBag.Title = "Administración de Transferencias de Placas entre Delegaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/datatables.min.css" rel="stylesheet" />
<link href="~/Content/css/datatables.bootstrap.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
<style>
    .FiltroMasterClass {
        display: inline-table !important;
        border-bottom: 1px solid #7678B8 !important
    }

    .ScrollFiltros {
        overflow-y: auto;
    }
</style>

<div class="page-content-wrapper">
    <div class="page-content">
        <div class="row">
            <div class="col-md-10">
                <h1 class="page-title">
                    Administración de Transferencias de Placas entre Delegaciones
                    <small>Sistema de Logística de Control de Placas&nbsp;</small>
                </h1>
            </div>
        </div>
        <div class="row widget-row">
            <div class="col-md-12">
                <div class="portlet box blue-hoki">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="fa fa-edit"></i>Listado
                        </div>
                        <div class="actions">
                            <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                        </div>
                    </div>
                    <div class="portlet-body">
                        <div class="table-toolbar">

                            @using (@Html.BeginForm("Index", "TransferenciaPlacas", FormMethod.Post, new { id = "myForm" }))
                            {
                                @Html.AntiForgeryToken()
                                <div class="row">
                                    <div class="col-md-12">
                                        @if (HttpContext.Current.Session["UserSC"] != null &&
                                        ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_TransferenciasPlacasEntreDelegacionesBancos.Registrar)
                                        {
                                            <button type="button" class="btn green margin-right-10" onclick="location.href='@Url.Action("Create")'">
                                                Agregar
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        }
                                        
                                        <button type="button" class="quick-sidebar-toggler btn sbold blue margin-right-10">
                                            Filtrar
                                            <i class="fa fa-filter"></i>
                                        </button>
                                        <button type="button" class="btn default grey margin-right-10" onclick="location.href='@Url.Action("Index", "Home")'">
                                            Regresar
                                            <i class="fa fa-chevron-circle-left"></i>
                                        </button>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-12 table-responsive">
                                        <table class="table table-bordered mb-0 table-sm wrap" id="tablaRegistros">
                                            <thead>
                                                <tr class="bg-light headerCustom">
                                                    <th>
                                                        Id Transferencia
                                                    </th>
                                                    <th>
                                                        Folio <br> Transferencia
                                                    </th>
                                                    <th>
                                                        Fecha Hora <br>Transferencia
                                                    </th>
                                                    <th>
                                                        Nombre
                                                    </th>
                                                    <th>
                                                        Apellido
                                                    </th>
                                                    <th>
                                                        Tipo Id
                                                    </th>
                                                    <th>
                                                        Numero Id
                                                    </th>
                                                    <th>
                                                        Marca <br>Vehículo
                                                    </th>
                                                    <th>
                                                        Modelo <br>Vehículo
                                                    </th>
                                                    <th>
                                                        Placas <br>Vehículo
                                                    </th>
                                                    <th>
                                                        Número <br>Económico
                                                    </th>
                                                    <th>
                                                        Delegación <br>Origen
                                                    </th>
                                                    <th>
                                                        Delegación <br>Destino
                                                    </th>
                                                    <th>
                                                        Estatus
                                                    </th>
                                                    <th style="width: 180px"><div style="text-align: center;">Acciones</div></th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @if (Model.Listado != null && Model.Listado.Count > 0)
                                                {
                                                    foreach (var item in Model.Listado)
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.IdTransferencia)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FolioTransferencia)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.FechaHoraRegistro)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_DatosPersonaEnvio.Nombre)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_DatosPersonaEnvio.Apellido)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_DatosPersonaEnvio.TiposID.TipoID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_DatosPersonaEnvio.NumeroID)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_TransporteEnvio.MarcaVehiculo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_TransporteEnvio.ModeloVehiculo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_TransporteEnvio.PlacasVehiculo)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TransferenciaPlacas_TransporteEnvio.NumeroEconomico)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DelegacionesBancosOrigen.NombreDelegacionBanco)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.DelegacionesBancosDestino.NombreDelegacionBanco)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposEstatusTransferencias.EstatusTransferencia)
                                                            </td>
                                                            <td align="center">
                                                                @if (item.IdEstatusTransferencia == 1)
                                                                {
                                                                    if (HttpContext.Current.Session["UserSC"] != null &&
                                                                    ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_TransferenciasPlacasEntreDelegacionesBancos.Acceso)
                                                                    {
                                                                        <button class="btn btn-xs green-jungle btn-icon-circle tooltips" type="button"
                                                                                data-container="body" data-toggle="tooltip" data-original-title="Editar Transferencia"
                                                                                onclick="location.href='TransferenciaPlacas/Details?IdTransferencia=@item.IdTransferencia'">
                                                                            <literal class="HiddeLabel">Editar</literal>
                                                                            <i class="fa fa-pencil mr-0 ml-0 HiddenIClass"></i>
                                                                        </button>
                                                                    }

                                                                    if (HttpContext.Current.Session["UserSC"] != null &&
                                                                    ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_TransferenciasPlacasEntreDelegacionesBancos.Cancelar)
                                                                    {
                                                                        <button class="btn btn-xs red btn-icon-circle tooltips" type="button"
                                                                                data-container="body" data-toggle="tooltip" data-original-title="Cancelar Transferencia"
                                                                                onclick="if (!ShowConfirmation('¿Desea Cancelar esta transferencia?',
                                                                            '@Url.Action("CambiaEstatus", "TransferenciaPlacas", new { id = item.IdTransferencia })')) return false;">
                                                                            <literal class="HiddeLabel">Cancelar Transferencia</literal>
                                                                            <i class="fa fa-times mr-0 ml-0 HiddenIClass"></i>
                                                                        </button>
                                                                    }

                                                                }
                                                                else
                                                                {
                                                                    <button class="btn btn-xs primary btn-icon-circle tooltips" type="button"
                                                                            data-container="body" data-toggle="tooltip" data-original-title="Consultar Transferencia"
                                                                            onclick="location.href='TransferenciaPlacas/Details?IdTransferencia=@item.IdTransferencia'">
                                                                        <literal class="HiddeLabel">Consultar</literal>
                                                                        <i class="fa fa-search mr-0 ml-0 HiddenIClass"></i>
                                                                    </button>
                                                                }
                                                            </td>
                                                        </tr>
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3">
                                                            @Html.Label("Sin Información")
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <a href="javascript:;" class="page-quick-sidebar-toggler">
                                    <i class="icon-login"></i>
                                </a>

                                <div class="page-quick-sidebar-wrapper ScrollFiltros" style="border-width: thick; border-style: solid; background-color: #E9EDEF; display: block;" data-close-on-body-click="false">
                                    <div class="page-quick-sidebar" style="background-color: #E9EDEF;">

                                        <div class="tab-content" style="background-color: #E9EDEF;">

                                            <div class="row" style="background-color: #E9EDEF;">

                                                <div class="col-md-12  " style="background-color: #E9EDEF;">
                                                    <!-- BEGIN SAMPLE FORM PORTLET-->
                                                    <div class="portlet light noborder" style="background-color: #E9EDEF;">
                                                        <div class="portlet-title noborder">
                                                            <div class="caption font-green">
                                                                <i class="icon-pin font-green"></i>
                                                                <span class="caption-subject bold uppercase">Filtros Búsqueda</span>
                                                            </div>
                                                        </div>

                                                        <div class="noborder" id="scroll">
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.TextBoxFor(x => Model.FiltroFolioTransferencia, htmlAttributes: new { @class = "form-control FiltroMasterClass", @id = "txtFiltroFolioTransferencia", @autocomplete = "off" })
                                                                    <label for="txtFiltroFolioTransferencia">Folio de la Transferencia</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.TextBoxFor(x => Model.FiltroFechaTransferencia, htmlAttributes: new { @class = "form-control FiltroMasterClass styleFechasFiltro", @id = "txtFiltroFechaTransferencia", @autocomplete = "off" })
                                                                    <label for="txtFiltroFechaTransferencia">Fecha de la Transferencia</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.TextBoxFor(x => Model.FiltroNombrePersona, htmlAttributes: new { @class = "form-control FiltroMasterClass", @id = "txtFiltroNombrePersona", @autocomplete = "off" })
                                                                    <label for="txtFiltroNombrePersona">Nombre</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.TextBoxFor(x => Model.FiltroApellidoPersona, htmlAttributes: new { @class = "form-control FiltroMasterClass", @id = "txtFiltroApellidoPersona", @autocomplete = "off" })
                                                                    <label for="txtFiltroApellidoPersona">Apellido</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.DropDownListFor(x => Model.FiltroIdTipoIDs, new SelectList(Model.ListadoTiposIDsDDL, "Valor", "Texto", Model.FiltroIdTipoIDs),
                                                                                       htmlAttributes: new { @class = "form-control", @id = "ddlFiltroIdTipoIDs" })
                                                                    <label for="ddlFiltroIdTipoIDs">Tipo ID:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.TextBoxFor(x => Model.FiltroNumeroID, htmlAttributes: new { @class = "form-control FiltroMasterClass", @id = "txtFiltroNumeroID", @autocomplete = "off" })
                                                                    <label for="txtFiltroNumeroID">Número de ID</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.DropDownListFor(x => Model.FiltroIdDelegacionOrigen, new SelectList(Model.ListadoDelegacionesUsuarioDDL, "Valor", "Texto", Model.FiltroIdDelegacionOrigen),
                                                                                       htmlAttributes: new { @class = "form-control", @id = "ddlFiltroIdDelegacionOrigen" })
                                                                    <label for="ddlFiltroIdDelegacionOrigen">Delegación Origen:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.DropDownListFor(x => Model.FiltroIdDelegacionDestino, new SelectList(Model.ListadoDelegacionesDDL, "Valor", "Texto", Model.FiltroIdDelegacionDestino),
                                                                                       htmlAttributes: new { @class = "form-control", @id = "ddlFiltroIdDelegacionDestino" })
                                                                    <label for="ddlFiltroIdDelegacionDestino">Delegación Destino:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.DropDownListFor(x => Model.FiltroIdEstatusTransferencia, new SelectList(Model.ListadoEstatusTransferenciaDDL, "Valor", "Texto", Model.FiltroIdEstatusTransferencia),
                                                                                       htmlAttributes: new { @class = "form-control", @id = "ddlFiltroIdEstatusTransferencia" })
                                                                    <label for="ddlFiltroIdEstatusTransferencia">Estatus Transferencia:</label>
                                                                </div>
                                                            </div>
                                                            <div class="col">
                                                                <div class="form-group form-md-line-input has-success">
                                                                    @Html.DropDownListFor(x => Model.FiltroIdEstatusPlacas, new SelectList(Model.ListadoEstatusPlacasDDL, "Valor", "Texto", Model.FiltroIdEstatusPlacas),
                                                                                       htmlAttributes: new { @class = "form-control", @id = "ddlFiltroIdEstatusPlacas" })
                                                                    <label for="ddlFiltroIdEstatusPlacas">Estatus Placas:</label>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-actions noborder">
                                                            <button type="submit" value="Buscar" class="btn green" id="btnAplicarFiltro">
                                                                Aplicar Filtro
                                                            </button>
                                                        </div>

                                                    </div>

                                                    <!-- END SAMPLE FORM PORTLET-->

                                                </div>

                                            </div>

                                        </div>

                                    </div>
                                </div>


                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<link href="~/Content/css/GridView.css" rel="stylesheet" type="text/css" />
<link href="~/Content/css/Paginado.css" rel="stylesheet" type="text/css" />

@section scripts
{
    <script src="~/Content/js/datatables.js"></script>
    <script src="~/Content/js/datatables.min.js"></script>
    <script src="~/Content/js/datatables.bootstrap.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script src="~/Content/js/Daterangepicker2.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {
            const isMobile = {
                Android: function () {
                    return navigator.userAgent.match(/Android/i);
                },
                BlackBerry: function () {
                    return navigator.userAgent.match(/BlackBerry/i);
                },
                iOS: function () {
                    return navigator.userAgent.match(/iPhone|iPad|iPod/i);
                },
                Opera: function () {
                    return navigator.userAgent.match(/Opera Mini/i);
                },
                Windows: function () {
                    return navigator.userAgent.match(/IEMobile/i) || navigator.userAgent.match(/WPDesktop/i);
                },
                any: function () {
                    return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
                }
            };

            $('#tablaRegistros').DataTable({
                lengthChange: false,
                paging: true,
                searching: false,
                ordering: false,
                responsive: isMobile.any() ? true : false,
                bInfo: false,
                language: {
                    emptyTable: "Sin información.",
                    info: "Registros del <b>_START_</b> al <b>_END_</b> de <b>_TOTAL_</b> por página",
                    infoEmpty: "Sin información",
                    infoFiltered: "(filtered1 de _MAX_ total registros)",
                    lengthMenu: "_MENU_ registros por p&#225;gina",
                    search: "Buscar:",
                    zeroRecords: "Sin coincidencias encontradas."
                },
            });     

            $('#tablaRegistros').find('[data-toggle="tooltip"]').tooltip();

        });
    </script>
}