@model IEnumerable<ICVNL_SistemaLogistica.Web.Models.Listado_TransferenciaPlacas_Listado1_Model>

@if (Model != null && Model.Count() > 0)
{
    foreach (var item in Model)
    {
        int index = 0;
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.TiposPlacas.TipoPlaca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CantidadDisponiblesDelegacion)
            </td>
            <td>
                <input type="text" class="form-control" id="txtCantidadDisponiblesSerTransferidas_tp_@item.IdTipoPlaca" data-value-tp="@item.IdTipoPlaca" name="TransferenciaPlacas_Listado1[@index.ToString()].CantidadDisponiblesSerTransferidas" onchange="CantidadTipoPlaca();" value="@item.CantidadDisponiblesSerTransferidas" />
            </td>
        </tr>
        index++;
    }
}
else
{
    <tr>
        <td colspan="3">
            @Html.Label("Sin Información")
        </td>
    </tr>
}