@model ICVNL_SistemaLogistica.Web.ViewModels.Detalle_TransferenciaPlacasVM

@{
    ViewBag.Title = "Transferir Placas | Administrador de Transferencia de Placas entre Delegaciones/Bancos ";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/estilosAlerta.css" rel="stylesheet" />
@using (Html.BeginForm("TransferirPlacas", "TransferenciaPlacas", FormMethod.Post, new { id = "myForm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="page-content-wrapper">
        <div class="page-content">
            <div class="row">
                <div class="col-md-10">
                    <h1 class="page-title">
                        Transferir Placas | Administrador de Transferencia de Placas entre Delegaciones/Bancos
                        <small>Sistema de Logística de Control de Placas&nbsp;</small>
                    </h1>
                </div>
            </div>
            <div class="row widget-row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Encabezado
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-actions ">
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        @if (HttpContext.Current.Session["UserSC"] != null &&
                                        ((ICVNL_SistemaLogistica.Web.Entities.Usuarios)HttpContext.Current.Session["UserSC"]).UsuariosPermisos.Pantallas_TransferenciasPlacasEntreDelegacionesBancos.TransferirPlacasConfirmarTransferencia)
                                        {
                                            <button type="button" class="btn dark margin-right-10" onclick="ConfirmarTransferencia();">
                                                Confirmar Transferencia
                                                <i class="fa fa-check"></i>
                                            </button>
                                        }
                                        
                                        <button type="button" class="btn default grey" onclick="location.href='Details?IdTransferencia=@Model.IdTransferencia'">
                                            Regresar
                                            <i class="fa fa-chevron-circle-left"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-2" id="divId">
                                            @Html.LabelFor(model => model.IdTransferencia, htmlAttributes: new { @class = "control-label" })
                                            <div class="input-group">
                                                <p class="form-control-static">
                                                    @Html.EditorFor(model => model.IdTransferencia, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })

                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FolioTransferencia, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.FolioTransferencia, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @disabled="disabled"  } })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.FechaHoraRegistro, htmlAttributes: new { @class = "control-label" })
                                            @Html.EditorFor(model => model.FechaHoraRegistro, new { htmlAttributes = new { @class = "form-control", @autocomplete = "off", @disabled="disabled"} })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdTransferenciaDatosPersonaEnvio, htmlAttributes: new { @class = "control-label" })
                                            <button type="button" class="btn dark margin-right-10" onclick="AgregarDatosPersona();">
                                                Datos Persona
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdTransferenciaTransporteEnvio, htmlAttributes: new { @class = "control-label" })
                                            <button type="button" class="btn dark margin-right-10" onclick="AgregarDatosTransporte();">
                                                Datos Transporte
                                                <i class="fa fa-save"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdDelegacionBancoOrigen, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(x => Model.IdDelegacionBancoOrigen, new SelectList(Model.ListadoDelegacionesDDL, "Valor", "Texto", Model.IdDelegacionBancoOrigen),
                                                           htmlAttributes: new { @class = "form-control", @id = "ddlListadoDelegacionesOrigenDDL", @disabled = "disabled" })
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(model => model.IdDelegacionBancoDestino, htmlAttributes: new { @class = "control-label" })
                                            @Html.DropDownListFor(x => Model.IdDelegacionBancoDestino, new SelectList(Model.ListadoDelegacionesDDL, "Valor", "Texto", Model.IdDelegacionBancoDestino),
                                                           htmlAttributes: new { @class = "form-control", @id = "ddlListadoDelegacionesDestinoDDL", @disabled = "disabled" })
                                        </div>
                                    </div>
                                </div>
                                <div class="row"><br /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Detalle 1. Listado resumen
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-bordered mb-0 table-sm dataTable" id="tablaRegistrosListado1">
                                            <thead>
                                                <tr class="bg-light headerCustom">
                                                    <th>Tipo Placa</th>
                                                    <th>Cant. de Placas a Transferir</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listadoPartialDetalleSolicitud">
                                                @if (Model.TransferenciaPlacas_Listado1 != null && Model.TransferenciaPlacas_Listado1.Count > 0)
                                                {
                                                    foreach (var item in Model.TransferenciaPlacas_Listado1.Where(x=>x.CantidadDisponiblesSerTransferidas > 0))
                                                    {
                                                        int index = 0;
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposPlacas.TipoPlaca)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.CantidadDisponiblesSerTransferidas)
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="2">
                                                            @Html.Label("Sin Información")
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row"><br /></div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Detalle 2. Listado de Placas Individuales seleccionadas automáticamente por el sistema
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-bordered mb-0 table-sm dataTable" id="tablaRegistrosListado2">
                                            <thead>
                                                <tr class="bg-light headerCustom">
                                                    <th>Tipo Placa</th>
                                                    <th>Número de Placa</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listadoPartialDetalleSolicitud">
                                                @if (Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == true) != null && Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == true).ToList().Count > 0)
                                                {
                                                    int index = 0;

                                                    foreach (var item in Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == true).ToList())
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposPlacas.TipoPlaca)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NumeroPlaca)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposEstatusPlacas.TipoEstatusPlacas)
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3">
                                                            @Html.Label("Sin Información")
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row"><br /></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="portlet box blue-hoki">
                        <div class="portlet-title">
                            <div class="caption">
                                <i class="fa fa-edit"></i>Detalle 2. Listado de Placas Individuales seleccionadas manualmente por el usuario
                            </div>
                            <div class="actions">
                                <a class="btn btn-circle btn-icon-only btn-default fullscreen" href="javascript:;" data-original-title="" title=""></a>
                            </div>
                        </div>
                        <div class="portlet-body form form-horizontal">
                            <div class="form-body">
                                <div class="col-md-12">
                                    <div class="row">
                                        <table class="table table-bordered mb-0 table-sm dataTable" id="tablaRegistrosListado2">
                                            <thead>
                                                <tr class="bg-light headerCustom">
                                                    <th>Tipo Placa</th>
                                                    <th>Número de Placa</th>
                                                    <th>Estatus</th>
                                                </tr>
                                            </thead>
                                            <tbody id="listadoPartialDetalleSolicitud">
                                                @if (Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == false) != null && Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == false).ToList().Count > 0)
                                                {
                                                    int index = 0;

                                                    foreach (var item in Model.TransferenciaPlacas_Listado2.Where(x => x.Automatico == false).ToList())
                                                    {
                                                        <tr>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposPlacas.TipoPlaca)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.NumeroPlaca)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.TiposEstatusPlacas.TipoEstatusPlacas)
                                                            </td>
                                                        </tr>
                                                        index++;
                                                    }
                                                }
                                                else
                                                {
                                                    <tr>
                                                        <td colspan="3">
                                                            @Html.Label("Sin Información")
                                                        </td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="row"><br /></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="modal fade" tabindex="-1" role="dialog" id="modalAgregarDatosPersona" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloModalAgregar">Datos de la persona que se va a llevar las placas </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body portlet-body form form-horizontal">
                    <div class="form-body" style="overflow-y: auto;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.Nombre, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.Nombre, new { htmlAttributes = new { @class = "form-control validaCamposPersona", @id = "DatosPersonaEnvio_Nombre", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.Apellido, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.Apellido, new { htmlAttributes = new { @class = "form-control validaCamposPersona", @id = "DatosPersonaEnvio_Apellido", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.IdTipoIDs, htmlAttributes: new { @class = "control-label" })
                                    @Html.DropDownListFor(x => Model.TransferenciaPlacas_DatosPersonaEnvio.IdTipoIDs, new SelectList(Model.ListadoTiposIDsDDL, "Valor", "Texto", Model.TransferenciaPlacas_DatosPersonaEnvio.IdTipoIDs),
                                                   htmlAttributes: new { @class = "form-control validaCamposPersona", @id = "DatosPersonaEnvio_TipoID", @disabled = "disabled" })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.NumeroID, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_DatosPersonaEnvio.NumeroID, new { htmlAttributes = new { @class = "form-control validaCamposPersona", @id = "DatosPersonaEnvio_NumeroID", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" tabindex="-1" role="dialog" id="modalAgregarDatosTransporte" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="tituloModalAgregar">Datos del Transporte en el que se van a llevar las Placas </h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body portlet-body form form-horizontal">
                    <div class="form-body" style="overflow-y: auto;">
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_TransporteEnvio.MarcaVehiculo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_TransporteEnvio.MarcaVehiculo, new { htmlAttributes = new { @class = "form-control", @id = "TransporteEnvio_MarcaVehiculo", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_TransporteEnvio.ModeloVehiculo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_TransporteEnvio.ModeloVehiculo, new { htmlAttributes = new { @class = "form-control", @id = "TransporteEnvio_ModeloVehiculo", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_TransporteEnvio.PlacasVehiculo, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_TransporteEnvio.PlacasVehiculo, new { htmlAttributes = new { @class = "form-control", @id = "TransporteEnvio_PlacasVehiculo", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="row">
                                <div class="col-md-4">
                                    @Html.LabelFor(model => model.TransferenciaPlacas_TransporteEnvio.NumeroEconomico, htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.TransferenciaPlacas_TransporteEnvio.NumeroEconomico, new { htmlAttributes = new { @class = "form-control", @id = "TransporteEnvio_NumeroEconomico", @autocomplete = "off", @disabled="disabled" } })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn dark btn-outline" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@section scripts
{
    <script src="~/Content/js/datatables.js"></script>
    <script src="~/Content/js/datatables.min.js"></script>
    <script src="~/Content/js/datatables.bootstrap.js"></script>
    <script src="~/Content/js/funciones-alertas.js"></script>
    <script src="~/Scripts/Transferencias/Transferencias.js"></script>

}

